<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <!-- <link rel="icon" type="image/svg+xml" href="/vite.svg" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Habit Tracker</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <!-- <div id="root"></div> -->
  <h1>My Habit Tracker</h1>

  <form id="habit-form">
    <input type="text" id="habit-name" placeholder="Habit name" required />
    <input type="text" id="habit-category" placeholder="Category" required />
    <input type="number" id="habit-target" placeholder="Target Streak" required />
    <button id="add-habit-btn" class="btn-add">Add Habit</button>
  </form>

  
<div class="habit-container">
  <!-- stores added habit cards here-->
  </div>
</div>

  <!-- <script type="module" src="main.js"></script> -->
  <script type="module" src="/src/main.js"></script>
</body>
</html>